<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/dms</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create-drop</property>
        <!--<property name="hbm2ddl.auto">update</property>-->

        <mapping class="dev.ulman.dms.model.Contract"/>
        <mapping class="dev.ulman.dms.model.Customer"/>
        <mapping class="dev.ulman.dms.model.Department"/>
        <mapping class="dev.ulman.dms.model.Employee"/>
        <mapping class="dev.ulman.dms.model.Estimator"/>
        <mapping class="dev.ulman.dms.model.Offer"/>
        <mapping class="dev.ulman.dms.model.Product"/>
        <mapping class="dev.ulman.dms.model.Supplier"/>
        <mapping class="dev.ulman.dms.model.Trader"/>

        <!--
        <mapping class="packageName.*"/>
        -->

    </session-factory>
</hibernate-configuration>
