<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>error</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
        <h1 class="error-page">
            Error
        </h1>
        <h2 class="error-page">
            I am sorry, something went wrong!
            <br>
            <a href="#" class="backButton" onclick="history.back()">Go back!!</a>
        </h2>
</body>
</html>