<!DOCTYPE HTML>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
    <div layout:fragment="content" class="container">
        <h1 class="pageError">
            Error
        </h1>
        <h2 class="pageError">
            I am sorry, something went wrong!
        <br>
            <a href="#" class="backButton" onclick="history.back()">Go back!!</a>
        </h2>
    </div>
</body>
</html>